<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-autowire="byName">
    <!-- mysql数据源基础 -->
    <bean id="mysqlDS" class="com.alibaba.druid.pool.xa.DruidXADataSource"
          init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://192.168.147.90:3306/shard?autoReconnect=true&amp;characterEncoding=utf-8" />
        <property name="username" value="jdlottery" />
        <property name="password" value="jdlottery" />
    </bean>
    <bean id="mysqlDS_base" class="com.atomikos.jdbc.AtomikosDataSourceBean"
          init-method="init" destroy-method="close">
        <property name="uniqueResourceName" value="mysqlDS_base"></property>
        <property name="xaDataSource" ref="mysqlDS"></property>
        <property name="xaDataSourceClassName" value="com.alibaba.druid.pool.xa.DruidXADataSource"/>
        <!--<property name="xaDataSourceClassName" value="com.alibaba.druid.pool.xa.DruidXADataSource" />-->
        <!--<property name="xaProperties">-->
        <!--<props>-->
        <!--<prop key="user">jdlottery</prop>-->
        <!--<prop key="password">jdlottery</prop>-->
        <!--<prop key="URL">jdbc:mysql://192.168.147.86:3306/cptest?autoReconnect=true</prop>-->
        <!--</props>-->
        <!--</property>-->
        <!-- 连接池里面连接的个数? -->
        <!--<property name="poolSize" value="3"/>-->
    </bean>
    <!-- mysql数据源1 -->
    <bean id="mysqlDS1" class="com.alibaba.druid.pool.xa.DruidXADataSource"
          init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://192.168.147.90:3306/sharddb_1?autoReconnect=true&amp;characterEncoding=utf-8" />
        <property name="username" value="jdlottery" />
        <property name="password" value="jdlottery" />
    </bean>
    <bean id="mysqlDS11" class="com.atomikos.jdbc.AtomikosDataSourceBean"
          init-method="init" destroy-method="close">
        <property name="uniqueResourceName" value="mysql_ds11"></property>
        <property name="xaDataSource" ref="mysqlDS1"></property>
        <property name="xaDataSourceClassName" value="com.alibaba.druid.pool.xa.DruidXADataSource"/>
        <!--<property name="xaDataSourceClassName" value="com.alibaba.druid.pool.xa.DruidXADataSource" />-->
        <!--<property name="xaProperties">-->
        <!--<props>-->
        <!--<prop key="user">jdlottery</prop>-->
        <!--<prop key="password">jdlottery</prop>-->
        <!--<prop key="URL">jdbc:mysql://192.168.147.86:3306/cptest?autoReconnect=true</prop>-->
        <!--</props>-->
        <!--</property>-->
        <!-- 连接池里面连接的个数? -->
        <!--<property name="poolSize" value="3"/>-->
    </bean>
    <!-- mysql数据源2 -->
    <bean id="mysqlDS2" class="com.alibaba.druid.pool.xa.DruidXADataSource"
          init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://192.168.147.90:3306/sharddb_2?autoReconnect=true&amp;characterEncoding=utf-8" />
        <property name="username" value="jdlottery" />
        <property name="password" value="jdlottery" />
    </bean>
    <bean id="mysqlDS22" class="com.atomikos.jdbc.AtomikosDataSourceBean"
          init-method="init" destroy-method="close">
        <property name="uniqueResourceName" value="mysql_ds22"></property>
        <property name="xaDataSource" ref="mysqlDS2"></property>
        <property name="xaDataSourceClassName" value="com.alibaba.druid.pool.xa.DruidXADataSource"/>
        <!--<property name="xaDataSourceClassName" value="com.alibaba.druid.pool.xa.DruidXADataSource" />-->
        <!--<property name="xaProperties">-->
        <!--<props>-->
        <!--<prop key="user">jdlottery</prop>-->
        <!--<prop key="password">jdlottery</prop>-->
        <!--<prop key="URL">jdbc:mysql://192.168.147.87:3306/cptest?autoReconnect=true</prop>-->
        <!--</props>-->
        <!--</property>-->
        <!-- 连接池里面连接的个数? -->
        <!--<property name="poolSize" value="3"/>-->
    </bean>


    <!--<bean id="springTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">-->
    <!--<property name="userTransaction" ref="jotm" />-->
    <!--</bean>-->
    <!--<bean id="jotm" class="foo.bar.SysJotmFactoryBean"/>-->

    <!-- atomikos事务管理器 -->
    <bean id="atomikosTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager"
          init-method="init" destroy-method="close">
        <description>UserTransactionManager</description>
        <property name="forceShutdown">
            <value>true</value>
        </property>
    </bean>
    <!--atomikos事务-->
    <bean id="atomikosUserTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">
        <property name="transactionTimeout" value="300" />
    </bean>

    <!-- spring 事务管理器 -->
    <bean id="springTransactionManager"
          class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager">
            <ref bean="atomikosTransactionManager" />
        </property>
        <property name="userTransaction">
            <ref bean="atomikosUserTransaction" />
        </property>
    </bean>

    <!-- spring　事务模板 我在项目当中用的是编程式事务-->
    <bean id="transactionTemplate"
          class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager">
            <ref bean="springTransactionManager" />
        </property>
    </bean>


    <!--数据源-->
    <util:map id="xaDsMap" key-type="java.lang.String">
        <entry key="0">
            <ref bean="mysqlDS_base"/>
        </entry>
        <entry key="1">
            <ref bean="mysqlDS11"/>
        </entry>
        <entry key="2">
            <ref bean="mysqlDS22"/>
        </entry>
    </util:map>

</beans>
